/* base.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe9dc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 80px; /* Espaciado para el navbar */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.error {
    color: #dc3545;
    font-size: 14px;
}

.success {
    color: #28a745;
    font-size: 14px;
}
