/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a5755a;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo img {
    margin-left: 50px;
    height: 90px;
}

.nav-links {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #28a745;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
